@font-face {
    font-family: SouthPark_Cyr;
    src: local("Scriptorama"),
    url(11535.ttf);
}
body {
    background: url(bg-cross.jpg);
    margin: 0;
    padding: 0;
    font-family: SouthPark_Cyr;
}
h1 {
    text-align: center;
    margin: 100px 0;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.table_block{
    position: relative;
    width: fit-content;
    margin: auto;
}
table {
    color: #0031ff;
}
table tr,
table td {
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}
.line, .line_win {
    position: absolute;
}
.line1 {
    top: 26%;
}
.line2 {
    top: 58%;
}
.line3 {
    left: 26%;
    top: 0;
}
.line4 {
    left: 59%;
    top: 0;
}
#btn {
    padding: 10px;
    font-family: inherit;
    border: 1px solid #000;
    margin: 25px auto;
    display: block;
    cursor: pointer;
    outline: none;
}
.choice_block {
    font-size: 1.5em;
    width: 250px;
    text-align: center;
}
.choice_block input{
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
}
#rezult {
    font-size: 20px;
    text-align: center;
}
.line_win{
    width: 100%;
}
#win0 {
    top: 15%;
}
#win1 {
    top: 46%;
}
#win2 {
    top: 80%;
}
#win3 {
    transform: rotate(90deg);
    top: 50%;
    left: -32%;
}
#win4{
    transform: rotate(90deg);
    top: 50%;
    left: 0;
}
#win5{
    transform: rotate(90deg);
    top: 50%;
    left: 30%;
}
#win6{
    transform: rotate(45deg);
    left: 0;
    top: 50%;
}
#win7{
    transform: rotate(132deg);
    left: 0;
    top: 50%;
}
@media screen and (max-width: 500px) {
    h1 {
        margin: 33px 0;
        font-size: 6vw;
    }
    .wrapper{
        display: block;
        margin: 0 15px;
    }
    .choice_block {
         font-size: 5vw;
        width: unset;
        margin-bottom: 27px;
    }
    #rezult {
        font-size: 5vw;
        text-align: center;
    }
}