@font-face {
    font-family: SouthPark_Cyr;
    src: local("Scriptorama"),
    url(11535.ttf);
}

body {
    background: url(bg-cross.jpg);
    margin: 0;
    padding: 0;
    font-family: SouthPark_Cyr;
}

h1 {
    display: inline-block;
    margin-left: 80px;
    position: relative;
    left: 25%;
}

.container {
    width: 400px;
    position: relative;
    left: 25%;
    text-align: center;
}

table {
    color: #0031ff;
    position: absolute;
    left: 150px;
    top: 75px;
}

.kind {
    position: relative;
    left: 55px;
    display: none;
}

table tr,
table td {
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.line {
    position: absolute;
}

.line1 {
    left: 150px;
    top: 125px;
}

.line2 {
    left: 145px;
    top: 184px;
}

.line3 {
    left: 199px;
    top: 72px;
}

.line4 {
    left: 260px;
    top: 75px;
}

#btn {
    position: absolute;
    top: 300px;
    padding: 10px;
    font-family: SouthPark_Cyr;
    left: 185px;
}

button {
    font-family: SouthPark_Cyr;
    padding: 10px;
}

.choice {
    font-size: 1.5em;
    width: 250px;
    position: relative;
    text-align: center;
    top: 110px;
    left: 5%;
}

#turn {
    display: none;
    position: absolute;
    left: 160px;
}

#rezult {
    font-size: 20px;
    margin-left: 180px;
    position: absolute;
    top: 350px;
}

#win1,
#win2,
#win3,
#win4,
#win5,
#win6,
#win7,
#win8,
#win0 {
    position: absolute;
    display: none;
}

#win0 {
    left: 125px;
    top: 95px;
}

#win1 {
    left: 125px;
    top: 155px;
}

#win2 {
    left: 125px;
    top: 215px;
}

#win3 {
    transform: rotate(90deg);
    top: 140px;
    left: 76px;
}

#win4 {
    transform: rotate(90deg);
    top: 140px;
    left: 130px;
}

#win5 {
    transform: rotate(90deg);
    top: 140px;
    left: 190px;
}

#win6 {
    transform: rotate(45deg);
    left: 105px;
    top: 155px;
}

#win7 {
    transform: rotate(132deg);
    left: 95px;
    top: 155px;
}
.x::after{
    content: 'x';
    color: blue;
}
.o::after{
    content: 'o';
    color: red;
}